.scroll-pane{
    -fx-background-color:transparent;
    -fx-hbar-policy : never;
}
.button {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-fit-to-width: true;
}
.button:hover{
    -fx-background-color: rgba(76, 147, 240, 0.45);
}
#messageInput:focused{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
.BorderPane:focused{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
#noticeMessage{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}
#chatMessageScrollPane{
    -fx-background-color: transparent;
}
#chatOtherName{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
AnchorPane{
    -fx-background-color: transparent;
}